*.XYZ filter=lfs diff=lfs merge=lfs -text
examples/movies/test1/XYZ_files/urea_movies_2_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/movies/test1/XYZ_files/urea_movies_5_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/movies/test1/XYZ_files/urea_movies_6_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/normal/test1/XYZ_files/urea_test_1_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/normal/test1/XYZ_files/urea_test_6_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/normal/test1/XYZ_files/urea_test_8_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/movies/test1/XYZ_files/urea_movies_4_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/normal/test1/XYZ_files/urea_test_3_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/normal/test1/XYZ_files/urea_test_5_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/movies/test1/XYZ_files/urea_movies_1_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/normal/test1/XYZ_files/urea_test_2_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/normal/test1/XYZ_files/urea_test_4_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/normal/test1/XYZ_files/urea_test_7_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
examples/movies/test1/XYZ_files/urea_movies_3_ovito_CGvisualiser.XYZ filter=lfs diff=lfs merge=lfs -text
